{% extends "common/dark_base.html" %}

{% block content %}

<h2>All Contributions</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Task</th>
      <th scope="col">Category</th>
      <th scope="col">Working Group</th>
      <th scope="col">Hours Spent</th>
      <th scope="col">Cash Spent</th>
      <th scope="col">Contributor</th>
      <th scope="col">Status</th>
      <th scope="col">Contribution Date</th>
    </tr>
  </thead>
  <tbody>
    {% for contribution in contributions %}
    <tr>
      <th scope="row">{{ contribution.id }}</th>
      <th scope="row">{{ contribution.task }}</th>
      <td scope="row">{{ contribution.work_rate.category }}</td>
      <td scope="row">{{ contribution.role.label }}</td>
      <td scope="row">{{ contribution.hours_spent }}</td>
      <th scope="row">{{ contribution.cash_spent }}</th>
      <th scope="row">{{ contribution.user.email }}</th>
      <th scope="row">{{ contribution.status }}</th>
      <th scope="row">{{ contribution.contribution_date }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Work Rates</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Category</th>
      <th scope="col">Slices / Hour</th>
    </tr>
  </thead>
  <tbody>
    {% for work_rate in work_rates %}
    <tr>
      <th scope="row">{{ work_rate.id }}</th>
      <td scope="row">{{ work_rate.category }}</td>
      <td scope="row">{{ work_rate.slices_per_hour }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
