{% extends "common/dark_base.html" %}  {# common/page_base.html extends layout.html #}

{% block styles %}
{% endblock %}
{% block content %}

{% from "common/form_macros.html" import render_field, render_submit_field %}
  <!-- Breadcrumb-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Manage Contributions</li>
  </ol>
  <div class="container-fluid">
    <div class="animated fadeIn">
      <div class="card ">
        <div class="card-header">
          <strong>My Contributions</strong>
        </div>
        <div class="card-body table-responsive">
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Task</th>
                <th scope="col">Category</th>
                <th scope="col">Working Group</th>
                <th scope="col">Hours Spent</th>
                <th scope="col">Cash Spent</th>
                <th scope="col">Contributor</th>
                <th scope="col">Status</th>
                <th scope="col">Contribution Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for contribution in contributions %}
              <tr>
                <td class="contribution_id" scope="row">{{ contribution.id }}</td>
                <td class="task" scope="row">{{ contribution.task }}</td>
                <td class="work_rate" data-value="{{ contribution.work_rate.id }}" scope="row">{{ contribution.work_rate.category }}</td>
                <td class="role" data-value="{{ contribution.role.id }}" scope="row">{{ contribution.role.label }}</td>
                <td class="hours_spent" scope="row">{{ contribution.hours_spent }}</td>
                <td class="cash_spent" scope="row">{{ contribution.cash_spent }}</td>
                <td scope="row">{{ contribution.user.email }}</td>
                <td class="status" scope="row">{{ contribution.status }}</td>
                <td class="contribution_date" scope="row">{{ contribution.contribution_date }}</td>
                <td scope="row">
                  <!--
                  {% if contribution.status == "Reported" %}
                  <button type="button" class="btn btn-default edit-contribution" data-toggle="modal" data-target="#edit-modal" aria-label="Edit Contribution">
                    <i class="far fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-default delete-contribution" aria-label="Delete Contribution">
                    <i class="far fa-times-circle"></i>
                  </button>
                  {% endif %}
                -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!--
      <div class="card ">
        <form action="" method="POST" class="form" role="form">
          <div class="card-header">
            <strong>Add Contribution</strong>
          </div>
          {% if form.errors %}
            <ul class="errors">
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          {% endif %}
          <div class="card-body">
                {{ form.hidden_tag() }}
                <div class="form-group ">
                  <label for="work_rate">Work Category</label>
                  <select name="work_rate">
                  {% for category in form.work_rate %}
                    {{ category }}
                  {% endfor %}
                  </select>
                </div>
                <div class="form-group ">
                  <label for="role">Group</label>
                  <select name="role">
                  {% for group in form.role %}
                    {{ group }}
                  {% endfor %}
                  </select>
                </div>
                <div class="form-group ">
                  <label for="task">Task</label>
                  <input type="text" class="form-control" id="task" name="task" placeholder="Enter Task Reference" value="">
                </div>
                <div class="form-group ">
                  <label for="hours_spent">Hours Spent</label>
                  <input type="number" step="any" class="form-control" id="hours_spent" name="hours_spent" placeholder="Enter Hours Spent" value="{{ form.cash_spent.default }}">
                </div>
                <div class="form-group ">
                  <label for="cash_spent">Cash Spent</label>
                  <input type="number" step="any" class="form-control" id="cash_spent" name="cash_spent" placeholder="Enter Cash Spent" value="{{ form.cash_spent.default }}">
                </div>
                <div class="form-group ">
                  <label for="contribution_date">Contribution Date</label>
                  <input type="datetime" class="flatpickr form-control" id="contribution_date" name="contribution_date" placeholder="Enter Contribution Date" value="">
                </div>
          </div>
          <div class="card-footer ">
            <button type="submit " class="btn btn-sm btn-primary "><i class="fa fa-dot-circle-o "></i> Submit</button>
            <button type="reset " class="btn btn-sm btn-danger "><i class="fa fa-ban "></i> Reset</button>
          </div>
        </form>
      </div>
    -->
      <!-- Modal 
      <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit Contribution</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/contributions/" method="POST" class="form" role="form">
                {% if form.errors %}
                  <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                      {% for error in field_errors %}
                      <li>{{ form[field_name].label }}: {{ error }}</li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                {% endif %}
                {{ form.hidden_tag() }}
                <div class="form-group ">
                  <label for="work_rate">Work Category</label>
                  <select id="edit_work_rate" name="work_rate">
                  {% for category in form.work_rate %}
                    {{ category }}
                  {% endfor %}
                  </select>
                </div>
                <div class="form-group ">
                  <label for="role">Group</label>
                  <select id="edit_role" name="role">
                  {% for group in form.role %}
                    {{ group }}
                  {% endfor %}
                  </select>
                </div>
                <div class="form-group ">
                  <label for="task">Task</label>
                  <input type="text" class="form-control" id="edit_task" name="task" placeholder="Enter Task Reference" value="">
                </div>
                <div class="form-group ">
                  <label for="hours_spent">Hours Spent</label>
                  <input type="number" step="any" class="form-control" id="edit_hours_spent" name="hours_spent" placeholder="Enter Hours Spent" value="{{ form.cash_spent.default }}">
                </div>
                <div class="form-group ">
                  <label for="cash_spent">Cash Spent</label>
                  <input type="number" step="any" class="form-control" id="edit_cash_spent" name="cash_spent" placeholder="Enter Cash Spent" value="{{ form.cash_spent.default }}">
                </div>
                <div class="form-group ">
                  <label for="edit_contribution_date">Contribution Date</label>
                  <input type="datetime" class="flatpickr form-control" id="edit_contribution_date" name="contribution_date" placeholder="Enter Contribution Date" value="">
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    -->
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/page/contributions.js') }}"></script>
{% endblock %}