{% extends "common/dark_base.html" %}

{% block content %}

<div id="welcome">
  <h2>Welcome to the Slicing Pie Manager. To report your own contributions, navigate to the <a href="{{ url_for('main.manage_contribution_page') }}">Manage Contributions</a> page. Need to add someone else? <a href="{{ url_for('main.user_admin_page') }}">Ask a chair</a> to invite them.</h2>
</div>
<div id="stats">
  Total Slices Allocated: {{ total_slices }}
</div>
<div id="pie-chart"></div>
<div id="stats">
  Filtered Total Slices Allocated: {{ filtered_total_slices }}
</div>
<div id="filtered-pie-chart"></div>
<div id="filtered-wg-pie-chart"></div>
<div id="filtered-type-pie-chart"></div>

<h2>Work Rates</h2>
<div class="table-responsive">
  <table class="table datatable">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Category</th>
        <th scope="col">Slices / Hour</th>
      </tr>
    </thead>
    <tbody>
      {% for work_rate in work_rates %}
      <tr>
        <th scope="row">{{ work_rate.id }}</th>
        <td scope="row">{{ work_rate.category }}</td>
        <td scope="row">{{ work_rate.slices_per_hour }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script>
  var csrf_token = "{{ csrf_token() }}";
  var slice_percentages = {{ slice_percentages|tojson|safe }};
  var filtered_slice_percentages = {{ filtered_slice_percentages|tojson|safe }};
  var filtered_wg_slice_percentages = {{ filtered_wg_slice_percentages|tojson|safe }};
  var filtered_type_slice_percentages = {{ filtered_type_slice_percentages|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='js/page/dashboard.js') }}"></script>
{% endblock %}