{% extends "common/dark_base.html" %}

{% block content %}

<div id="pie-chart"></div>

<h2>Work Rates</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Category</th>
        <th scope="col">Slices / Hour</th>
      </tr>
    </thead>
    <tbody>
      {% for work_rate in work_rates %}
      <tr>
        <th scope="row">{{ work_rate.id }}</th>
        <td scope="row">{{ work_rate.category }}</td>
        <td scope="row">{{ work_rate.slices_per_hour }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script>
  var csrf_token = "{{ csrf_token() }}";
  var slice_percentages = {{ slice_percentages|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='js/page/dashboard.js') }}"></script>
{% endblock %}