{% extends "common/dark_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

{% from "common/form_macros.html" import render_field, render_submit_field %}

  <!-- Breadcrumb-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Admin</li>
    <li class="breadcrumb-item active">Users</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group">
        <a class="btn" href="#">
          <i class="icon-speech"></i>
        </a>
        <a class="btn" href="./">
          <i class="icon-graph"></i>  Dashboard</a>
        <a class="btn" href="#">
          <i class="icon-settings"></i>  Settings</a>
      </div>
    </li>
  </ol>
  <div class="container-fluid">
    <div class="animated fadeIn">
      <div class="card ">
          <div class="card-header ">
            <strong>Users</strong>
          </div>
          <div class="card-body ">
            <table class="table table-hover table-striped" style="padding-top: 50px;">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Roles</th>
                  <th>Email</th>
                  <th>Confirmed</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <td>{{user.name()}}</td>
                  <td>
                    {% for role in user.roles %}
                      {{ role.label }}{{ "," if not loop.last }}
                    {% endfor %}
                  </td>
                  <td>{{user.email}}</td>
                  <td>{{user.confirmed_at}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-footer ">
          </div>
      </div>
</div>
{% endblock %}
